.footer{
  border-top: 0.2px solid #464646;
  padding: 40px 40px 20px 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.links{
  display: grid;
  gap: 25px;
  text-align: left;
}

.links p{
  font-size: 14px;
  text-align: left;
  padding-right: 20px;
}

.socials{
  display: flex;
  gap: 15px;
}

.socials svg{
  height: 30px;
  width: 30px;
}

.quick-links{
  display: grid;
  gap: 20px;
}


.navigation{
  display: grid;
  gap:20px;
  font-size: 12px;
}

.navigation a{
    text-decoration: none;
    color: #1E3544;
    font-size: 18px;
    font-weight: 300;
}

.contact{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact p {
  text-decoration: none;
}

.op{
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.copy{
  display: flex;
  border-top: 0.1px solid #43414198;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 40px;

}

.copy p{
  color: #13485D;
  font-size: 12px;
  text-align: left;
}

.logo-footer{
  height: 80px;
  left: 0;
  font-weight: 100;
}

span{
  color: #F66F61;
}
