.gallery-container{
  background-color: #E8E8E8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: none;
  width: 365px;
  align-items: center;
  gap: 4px;
  border: 0.5px solid #ffffff;
  border-radius: 30px ;
  overflow: hidden;
}

.gallery img{
  width: 180px;
  height: auto;
  aspect-ratio: 3/4;
  border: 0.5px solid #ffffff;
}
