
.ready-section{
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #F3E9ED;
  display: flex;
  justify-content: center;
}

.ready-container{
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 40px 20px 50px 20px;
}

.ready-container .header{
  padding: 0;
  margin-bottom: 40px;
  width: 300px;
}

.ready-options{
  display: grid;
  gap: 40px;
  justify-content: center;
}

.ready-enrol{
  display: flex;
  flex-direction: column;
  background-color: #1E5772;
  width: 280px;
  height: 300px;
  text-align: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.ready-enrol h3 {
  margin-bottom: 10px;
  color: white;
}

.ready-enrol button{
  margin-top: 30px;
  background-color: #EF7A6E;
  transition: all 0.5s ease;
}

.ready-enrol p {
  color: white;
}

.ready-contact{
  display: flex;
  flex-direction: column;
  background-color: #EF7A6E;
  width: 280px;
  height: 300px;
  text-align: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.ready-contact h3 {
  margin-bottom: 10px;
  color: white;
}

.ready-contact button{
  margin-top: 30px;
  background-color: #1E5772;
  transition: all 0.5s ease;
}

.ready-contact p {
  color: white;
}

.ready-options svg{
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.ready-enrol button:hover{
  cursor: pointer;
  background-color: #eb988e;
}

.ready-contact button:hover{
  cursor: pointer;
  background-color: #287295;
}

